.kakao_btn {
  width: 500px;
  height: 80px;
  background-image: url("../public/kakao_login_medium_narrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 100px;
  /* padding: -10px; */
  color: transparent;
}
